
<div class="outer content-wrap">
  <div class="inner">
    <div class="left">
      <div class="logo">
<!--        <img src="/images/main-logo.png" alt="logo">-->
        <div class="text-3xl font-extrabold text-[var(--primary-color)]">Vet Care</div>
      </div>
      <div class="sm-text">Time to Take a Pet Care Break</div>
      <div class="desc">
        Signing out of Vet Care – because even pet lovers deserve a break from caring for their furry friends!
      </div>
      <div class="button" (click)="signOut()">Log Out</div>
      <a routerLink="/">Back to Home</a>


    </div>
    <div class="right">
      <img src="/images/security/log-out.png" alt="sign out img">
    </div>
  </div>
</div>
