<div
  class="absolute flex flex-col justify-center items-center w-full h-full inset-0 bg-[#36454F] mix-blend-multiply">


  <div class="w-full flex-1 flex flex-col justify-center items-center">
    <app-carosel-security></app-carosel-security>

    <!-- Make sure this is inside the centered flex container -->
    <div class="w-full h-[100px] flex justify-center items-center">
      <img class="h-[50px]" src="/images/pets.png" alt="Logo">
    </div>
    <div class="text-5xl font-extrabold text-white font-roboto">
      Dr AshanLanka
    </div>
    <h2 class="text-[#FFFFFF] lg:text-[35px] text-[30px] font-roboto mt-1">
      Clinic Dashboard
    </h2>
  </div>

  <div class="w-full h-[80px] flex justify-center items-start">
    <span class="text-[#FFFFFF] lg:text-[12px] text-[10px] font-roboto">
      Version 1.0.0
    </span>
  </div>
</div>

<img
  class="object-cover w-full h-full mix-blend-overlay"
  src="/images/security/login-image.jpg"
  alt="Right_Side_Img"
>
