
<div class="flex-col border-2 p-5 rounded-lg ">
  <div class="flex flex-col md:flex-row w-full gap-10  min-h-[200px]">
    <div class="pet-avatar flex w-[150px] h-[150px] md:w-[150px] md:h-[150px] flex-shrink-0 rounded-full bg-gray-100"></div>
    <div class="pet-details flex-1 w-full min-h-[200px]">
      <table class="w-full table-auto border-none">
        <tbody>
        <tr class="bg-gray-100">
          <td class="text-base text-black font-semibold p-2 ">Pet Owner</td>
          <td class="text-[var(--p-text-color)] text-base font-semibold p-2">Ashen Manilka</td>
        </tr>
        <tr class="bg-white">
          <td class="text-base text-black font-semibold p-2 ">Name</td>
          <td class="text-[var(--p-text-color)] text-base font-semibold p-2">Luna</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="text-base text-black font-semibold p-2 ">Type</td>
          <td class="text-[var(--p-text-color)] text-base font-semibold p-2 ">Dog</td>
        </tr>
        <tr class="bg-white">
          <td class="text-base text-black font-semibold p-2 ">Breed</td>
          <td class="text-[var(--p-text-color)] text-base font-semibold p-2">Boxer</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="text-base text-black font-semibold p-2 ">Age</td>
          <td class="text-[var(--p-text-color)] text-base font-semibold p-2 ">3 Years</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="card w-full">
    <p-tabView [activeIndex]="activeTabIndex" (onChange)="handleTabChange($event)">
      <p-tabPanel header="New Medicine ">
      </p-tabPanel>
      <p-tabPanel header="New Vaccine">
      </p-tabPanel>
      <p-tabPanel header="Medical History">
      </p-tabPanel>
      <p-tabPanel header="Vaccination History">
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="p-5">
    <router-outlet></router-outlet>
  </div>
</div>

