
<div class="p-outer mt-1" >
  <p > Are you sure you want to delete this property? By doing so, this property will be non-recoverable. We strongly
    advise against using this function without admin approval. Deleting a property may result in permanent data loss and
    irreversible changes. Please proceed with caution and ensure that you have the necessary authorization before
    proceeding with this action.</p>
</div>

<div class="btn-outer">
  <button class="cansel-btn" (click)="canselClicked()" >Cancel</button>
  <button class="dlt-btn" (click)="deleteConfirm()" >Yes Delete</button>
</div>

