<form [formGroup]="resetForm" (ngSubmit)="submitForm()" class="w-full h-screen flex overflow-y-hidden">
  <div class="lg:w-[60%] w-[50%] hidden md:block relative h-screen">
    <app-right-side></app-right-side>
  </div>
  <div class="lg:w-[40%] md:w-[50%] w-full h-screen">
    <div class="w-full lg:h-[30%] h-[35%] flex flex-col justify-end items-center lg:pb-6 pb-4">
      <div class="text-[30px] md:w-[85%] w-[85%] text-center font-roboto font-semibold leading-[35px] flex items-center justify-center">
        <span>Reset Your Password</span>
      </div>
      <p class="md:w-[85%] w-[85%] text-center lg:text-[12px] text-[12px] font-roboto mt-3 leading-[15px] font-light">
        Enter a new password to regain access to your dashboard. Make sure it’s strong and secure!
      </p>
    </div>
    <div class="w-full lg:h-[70%] h-[65%] flex flex-col items-center justify-start mt-[50px]">
      <div class="md:w-[70%] w-[80%] flex flex-col justify-start items-center gap-3">

        <div *ngIf="invalidState" class="card w-full">
          <p-message *ngIf="errorMessage" severity="warn" size="small" [style]="{ fontSize: '8px' , fontWeight:100 }">
            {{ errorMessage }}
          </p-message>
        </div>

        <p-iconfield styleClass="w-full h-[50px]">
          <p-inputicon class="pi pi-lock !text-[#575757]"/>
          <input [type]="isEyeNewHidden ? 'password' : 'text'" class="w-full text-[13px] h-full !border-[#575757]"
                 pInputText formControlName="newPassword" placeholder="Enter New Password"/>
          <p-inputicon (click)="eyeChangeNewPassword()"
                       [ngClass]="isEyeNewHidden ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'"
                       class="!text-[#575757]"/>
        </p-iconfield>

        <div *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.invalid"
             class="text-red-500 text-xs mt-1 w-full">
          <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">Password is required</div>
          <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">Password must be at least 6 characters long.</div>
        </div>

        <p-iconfield styleClass="w-full h-[50px]">
          <p-inputicon class="pi pi-lock !text-[#575757]"/>
          <input [type]="isEyeConfirmHidden ? 'password' : 'text'" class="w-full text-[13px] h-full !border-[#575757]"
                 pInputText formControlName="confirmPassword" placeholder="Confirm Password"/>
          <p-inputicon (click)="eyeChangeConfirmPassword()"
                       [ngClass]="isEyeConfirmHidden ? 'pi pi-eye-slash cursor-pointer' : 'pi pi-eye cursor-pointer'"
                       class="!text-[#575757]"/>
        </p-iconfield>
        <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid"
             class="text-red-500 text-xs mt-1 w-full">
          <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Conform Password is required</div>
        </div>

        <div *ngIf="resetForm.hasError('mismatch')" class="text-red-500 text-[12px] w-full text-left pl-2">
          Passwords do not match.
        </div>

        <button type="submit" class="h-[50px] rounded-lg bg-[var(--primary-color)] w-full text-white font-semibold text-[13px] mt-[30px]">
          <app-prograss-spinner *ngIf="loading; else signUpText"></app-prograss-spinner>
          <ng-template #signUpText>Reset Password</ng-template>
        </button>
      </div>
    </div>
  </div>
</form>
