<div class="w-full h-screen flex overflow-y-hidden">
  <div class="lg:w-[60%] w-[50%] hidden md:block relative h-screen">
    <app-right-side></app-right-side>
  </div>
  <div class="lg:w-[40%] md:w-[50%] w-full h-screen">
    <div class="w-full lg:h-[30%] h-[35%] flex flex-col justify-end items-center lg:pb-6 pb-4">
      <div
        class="text-[30px] md:w-[85%] w-[85%] text-center font-roboto font-semibold leading-[35px] flex items-center justify-center">
        <span>Verify Your Account</span>
      </div>
      <p class="md:w-[85%] w-[85%] text-center lg:text-[12px] text-[12px] font-roboto mt-3 leading-[15px] font-light">
        Enter the OTP sent to your email to complete verification .
      </p>
    </div>
    <div class="w-full lg:h-[70%] h-[65%] flex flex-col items-center justify-start mt-[50px]">
      <form [formGroup]="verifyForm" (ngSubmit)="submitForm()"
            class="w-full lg:h-[70%] h-[65%] flex flex-col items-center justify-start mt-[50px]">
        <div class="md:w-[70%] w-[80%] flex flex-col justify-start items-center gap-3">

          <p-inputotp
            formControlName="otp"
            styleClass="w-full border-[#575757] focus:border-[#B54C26] focus:border-[2px]"
          ></p-inputotp>

          <div *ngIf="verifyForm.get('otp')?.touched && verifyForm.get('otp')?.invalid"
               class="text-red-500 text-xs mt-1 w-full">
            <div *ngIf="verifyForm.get('otp')?.errors?.['required']">OTP is required</div>
            <div *ngIf="verifyForm.get('otp')?.errors?.['minlength']">OTP must be at least 4 digits</div>
          </div>

          <button type="submit"
                  class="h-[50px] rounded-lg bg-[var(--primary-color)] w-full text-white font-semibold text-[13px] mt-[30px]">
            <app-prograss-spinner *ngIf="loading; else continueText"></app-prograss-spinner>
            <ng-template #continueText> Verify Now</ng-template>

          </button>

          <span class="mt-[30px] text-[12px] text-[#575757]">Don’t receive code?
      <a class="underline font-bold" routerLink="/security/process/login">Resend</a>
    </span>
        </div>
      </form>

    </div>
  </div>
</div>

