<div class="outer content-wrap">
  <div class="inner">
    <div class="left">
      <div class="logo">
        <!-- <img src="/images/main-logo.png" alt="logo"> -->
        <div class="text-3xl font-extrabold text-[var(--primary-color)]">Vet Care</div>
      </div>
      <div class="sm-text"><span>404</span> That’s an error.</div>
      <div class="desc">
        The requested page <span>{{route}}</span> couldn’t be found. It looks like this tail went missing!
      </div>
      <div class="button" routerLink="/">Back to Home</div>
    </div>
    <div class="right">
      <img src="/images/404/404.png" alt="Vet Care 404 illustration">
    </div>
  </div>
</div>
