<div class="w-full h-screen flex overflow-y-hidden">
  <div class="lg:w-[60%] w-[50%] hidden md:block relative h-screen">
    <app-right-side></app-right-side>
  </div>
  <div class="lg:w-[40%] md:w-[50%] w-full h-screen">
    <div class="w-full lg:h-[30%] h-[35%] flex flex-col justify-end items-center lg:pb-6 pb-4">
      <div
        class="text-[30px] md:w-[85%] w-[85%] text-center font-roboto font-semibold leading-[35px] flex items-center justify-center">
        <span>Forgot Your Password?</span>
      </div>
      <p class="md:w-[85%] w-[85%] text-center lg:text-[12px] text-[12px] font-roboto mt-3 leading-[15px] font-light">
        No worries! Enter your email to reset your password and regain access to your dashboard.
      </p>
    </div>
    <div class="w-full lg:h-[70%] h-[65%] flex flex-col items-center justify-start mt-[50px]">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()"
            class="w-full lg:h-[70%] h-[65%] flex flex-col items-center justify-start mt-[50px]">

        <div class="md:w-[70%] w-[80%] flex flex-col justify-start items-center gap-3 ">

          <p-iconfield styleClass="w-full h-[50px] ">
            <p-inputicon class="pi pi-envelope !text-[#575757]"/>
            <input
              class="w-full text-[13px] h-full !border-[#575757]"
              pInputText
              placeholder="Your Email Address"
              formControlName="email"
            />
          </p-iconfield>

          <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="text-red-500 text-xs mt-1 w-full">
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email format</div>
          </div>

          <button type="submit"
                  class="h-[50px] rounded-lg bg-[var(--primary-color)] w-full text-white font-semibold text-[13px] mt-[30px]">

            <app-prograss-spinner *ngIf="loading; else continueText"></app-prograss-spinner>
            <ng-template #continueText> Continue </ng-template>
          </button>

          <span class="mt-[30px] text-[12px] text-[#575757]">Back To
      <a class="underline font-bold" routerLink="/security/process/login">Login</a>
    </span>
        </div>
      </form>

    </div>
  </div>
</div>

