<div class="buttons">
  <!-- Add buttons if needed -->
  <button class="refresh-btn " (click)="refreshList()">
    <i class="fa-solid fa-arrows-rotate !text-[18px]"></i>
  </button>
  <!--  <button class="log-btn" (click)="toggleNewRoleLogDialog()" > View Log</button>-->
  <button class="add-btn" (click)="toggleNewClientDialog()">
    <i class="pi pi-plus"></i>
    Add New Client
  </button>
</div>


<div class="card flex justify-center">
  <p-dialog header="Create Client"  [(visible)]="visibleNewClientDialog" [modal]="true"  (onHide)="onCreateClientDialogHide()" [style]="{ width: '25rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
<!--    <app-new-role-->
<!--      (submitNewRole) = "submitNewRole()"-->
<!--    ></app-new-role>-->
    <app-new-client></app-new-client>
  </p-dialog>
</div>


