<div class="table-header">
  <div class="search">
    <!--    <div class="search-input-wrapper">-->
    <!--      <i class="pi pi-search search-icon"></i>-->
    <!--      <input-->
    <!--        pInputText-->
    <!--        type="text"-->
    <!--        placeholder="Search"-->
    <!--        [(ngModel)]="searchText"-->
    <!--      />-->
    <!--    </div>-->
    <h2 class=" text-black text-lg font-bold "> Animal Type : <span class="text-gray-600"> Dog </span>
    </h2>
  </div>
  <div class="tool-bar">

    <app-all-breeds-tool-bar
      (reloadTable)="reloadData()"
    >
    </app-all-breeds-tool-bar>

  </div>
</div>

<div class="table-outer">
  <div class="card">
    <p-table
      [value]="roles"
      [paginator]="false"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:10%">#</th>
          <th style="width:40%">Breed</th>
          <th style="width:50%">Tools</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-q let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ q.breed | truncate:30 }}</td>
          <td>

            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-text p-button-sm"
              pTooltip="Update Breed"
              tooltipPosition="top"
              (click)="updateRole(q)"
            ></button>

            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-text p-button-sm p-button-danger"
              pTooltip="Delete Pet"
              tooltipPosition="top"
              (click)="deleteRoleDialogOpen(q.propertyId)"
            ></button>
          </td>
        </tr>
      </ng-template>

    </p-table>
    <ngx-skeleton-loader
      *ngIf="loading"
      count="5"
      animation="progress-dark"
      [theme]="{
        'border-radius': '5px',
          height: '40px',
        'background-color': '#ecf0f1',
      }"
    />
  </div>

  <div *ngIf="roles.length === 0 && !loading" class="flex w-full justify-center
items-center h-[50px] bg-[#f2f2f2] rounded-b-lg">
    <span class="text-[16px] font-mono font-semibold text-[#777777]">No Roles</span>
  </div>

</div>

<!--Edit role dialog box-->
<div class="card flex justify-center">
  <p-dialog header="Update Pet" [modal]="true" [(visible)]="visibleEditRoleDialogBox" (onHide)="onUpdateRoleDialogHide()" [style]="{ width: '25rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <!--    <app-update-role-->
    <!--      [selectedRole]= selectedRole-->
    <!--      (updateRole)="reloadData()">-->
    <!--    </app-update-role>-->
    <app-update-pet></app-update-pet>
  </p-dialog>
</div>
<!--delete confirm dialog box-->
<div class="card flex justify-center">
  <p-dialog header="Delete Confirmation" [modal]="true" [(visible)]="visibleDeleteRoleDialogBox" [style]="{ width: '26rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <app-delete-dialog-content
      (cansel)="canselDelete()"
      (deleteConfirmed)="deleteRole()"
    >
    </app-delete-dialog-content>
  </p-dialog>
</div>
