<!--<p-carousel-->
<!--  [value]="content"-->
<!--  [numVisible]="1"-->
<!--  [numScroll]="1"-->
<!--  [responsiveOptions]="responsiveOptions"-->
<!--  [showIndicators]="true"-->
<!--  [showNavigators]="false"-->
<!--  indicatorStyleClass="custom-indicator"-->
<!--  styleClass="custom-carousel"-->
<!--  autoplayInterval="3000">-->
<!--    <div class="w-full flex items-center justify-center mb-[30px]">-->
<!--      <div class="w-[85%] flex flex-col items-center justify-center">-->
<!--        <div class="w-full">-->
<!--          <h2 class="font-bold text-[#FFFFFF] lg:text-[32px]-->
<!--          text-[20px] opacity-100 lg:leading-[35px] leading-[25px]">-->
<!--          Nozomi Dashboard-->
<!--          </h2>-->
<!--        </div>-->
<!--        <div class="w-full mt-3 font-semibold text-[#CBD5E1] lg:text-[15px] text-[12px]">-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</p-carousel>-->

