<app-breakcrumb-for-lms
  lastItem="Online Vet Care"/>

<app-admin-header [header] = "'Online Vet Care'" ></app-admin-header>

<div class="card w-full">
  <p-tabView [activeIndex]="activeTabIndex" (onChange)="handleTabChange($event)">
    <p-tabPanel header="Pending Request List">
    </p-tabPanel>
    <p-tabPanel header="Pet Profile">
    </p-tabPanel>
    <p-tabPanel header="Online Requests History">
    </p-tabPanel>
    <!--    <p-tabPanel header="Receptionists">-->
    <!--    </p-tabPanel>-->
  </p-tabView>
</div>
<div class="p-5">
  <router-outlet></router-outlet>
</div>


